<!doctype html>
<html>
<head>
  <title>Petstore Sample</title>
  <link rel="stylesheet" href="/common/css/petstore-common.css">
  <link rel="stylesheet" href="/home/css/petstore-homepage.css">
</head>

<body>
<table width="100%"  border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><div th:replace="/fragment/home/top.html :: top"></div></td>
  </tr>
  <tr>
    <td><div th:replace="/fragment/user/account.html :: account"></div></td>
  </tr>
  <tr>
    <td><div th:replace="/fragment/home/footer.html :: footer"></td>
  </tr>
</table>
</body>
</html>
