<!doctype html>
<html>
<head>
  <title>Petstore Sample</title>
  <script src="/common/js/plugins/vue-3.0.0.js"></script>
  <script src="/common/js/plugins/axios-0.21.1.js"></script>
  <script src="/common/js/petstore_config.js"></script>
  <script src="/common/js/screen_switch.js"></script>
  <script src="/user/js/login.js"></script>
  <link rel="stylesheet" href="/common/css/petstore-common.css">
  <link rel="stylesheet" href="/home/css/petstore-homepage.css">
  <link rel="stylesheet" href="/user/css/petstore-user.css">
</head>

<body>
<div id="User_Screen">
<table width="100%"  border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><div th:replace="/fragment/home/top.html :: top"></div></td>
  </tr>
  <tr>
    <td>
	  <div v-show="display('login')">
	    <div th:replace="/fragment/user/login.html :: login"></div>
      </div>
	  <div style="display: none" v-show="display('account')">
	    <div th:replace="/fragment/user/account.html :: account"></div>
	  </div>
	  <div style="display: none" v-show="display('register')">
	    <div th:replace="/fragment/user/register.html :: register"></div>
	  </div>
	  <div style="display: none" v-show="display('register_account')">
	    <div th:replace="/fragment/user/register_account.html :: register_account"></div>
	  </div>
	</td>
  </tr>
  <tr>
    <td><div th:replace="/fragment/home/footer.html :: footer"></div></td>
  </tr>
</table>
</div>

<script>
	const UserScreen = {
	  mixins: [screenSwitch, userLogin],
	  data() {
		return {
		  currentUser: localStorage.currentUser,
		  screenType: "user",
		  pageType: "login"
		}
	  }
	}
	Vue.createApp(UserScreen).mount('#User_Screen')
</script>

</body>
</html>
