<!DOCTYPE html>
<html>
<head>
  <title>Petstore Sample</title>
  <script src="/common/js/plugins/vue-3.0.0.js"></script>
  <script src="/common/js/plugins/axios-0.21.1.js"></script>
  <script src="/common/js/plugins/lealone-5.0.0.js"></script>
  <script src="/common/js/petstore.js"></script>
  <link rel="stylesheet" href="/common/css/petstore-common.css">
  <link rel="stylesheet" href="/home/css/petstore-homepage.css">
  <link rel="stylesheet" href="/user/css/petstore-user.css" media="screen">
</head>

<body>
<div id="userApp">
<table width="100%"  border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><div th:replace="/fragment/home/top.html :: top"></div></td>
  </tr>
  <tr>
    <td>
      <keep-alive>
        <component :is="currentComponent"/>
      </keep-alive>
    </td>
  </tr>
  <tr>
    <td><div th:replace="/fragment/home/footer.html :: footer"></div></td>
  </tr>
</table>
</div>

<template id="login" th:insert="/fragment/user/login.html :: login"/>
<template id="account" th:insert="/fragment/user/account.html :: account"/>
<template id="register" th:insert="/fragment/user/register.html :: register"/>
<template id="register-account" th:insert="/fragment/user/register-account.html :: register-account"/>
<template id="petstore-nav" th:insert="/fragment/home/nav.html :: nav"/>

<script src="/user/js/login.js"></script>
<script src="/user/js/account.js"></script>
<script src="/user/js/register.js"></script>
<script src="/user/js/register-account.js"></script>
<script>
    const app = Lealone.createVueApp("user", "login"); //打开user子应用时，默认显示login页
    
    Lealone.component(app, 'login', userLogin);
    Lealone.component(app, 'account', userAccount);
    Lealone.component(app, 'register', userRegister);
    Lealone.component(app, 'register-account', userRegisterAccount);
    Lealone.component(app, 'petstore-nav', userLogin);

    app.mount('#userApp')
</script>

</body>
</html>
