<!doctype html>
<html>
<head>
  <title>Petstore Sample</title>
  <link rel="stylesheet" href="/common/css/petstore-common.css">
  <link rel="stylesheet" href="/home/css/petstore-homepage.css">
  <link rel="stylesheet" href="/user/css/petstore-user.css">
</head>

<body>
<div id="User_Screen">
<table width="100%"  border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><div th:replace="/fragment/home/top.html :: top"></div></td>
  </tr>
  <tr>
    <td>
	  <div v-show="display('login')">
	    <div th:replace="/fragment/user/login.html :: login"></div>
      </div>
	  <div style="display: none" v-show="display('account')">
	    <div th:replace="/fragment/user/account.html :: account"></div>
	  </div>
	  <div style="display: none" v-show="display('register')">
	    <div th:replace="/fragment/user/register.html :: register"></div>
	  </div>
	  <div style="display: none" v-show="display('register_account')">
	    <div th:replace="/fragment/user/register_account.html :: register_account"></div>
	  </div>
	</td>
  </tr>
  <tr>
    <td><div th:replace="/fragment/home/footer.html :: footer"></div></td>
  </tr>
</table>
</div>

<script src="/common/js/vue-3.0.0.js"></script>
<script src="/common/js/axios-0.21.1.js"></script>
<script src="/common/js/petstore-config.js"></script>
<script src="/user/js/login.js"></script>

<script>
	const UserScreen = {
	  data() {
		return {
		  screenType: "user",
		  pageType: "login",
		  password: ""
		}
	  },
	  methods: {
	    setPage(screenType, pageType) {
		  if(this.screenType != screenType) {
		    this.screenType = screenType;
			location.href = "/" + screenType + "/index.html";
			return;
		  }
		  this.pageType = pageType;
		},
		display(pageType) {
		  return this.pageType == pageType;
		},
		login() {
		  axios
		  .post(Public.UserService + '/login?password=' + this.password + '&user_id=' + this.name, {
		  name: this.name,
		  password: this.password
		}) //this.$data
		  .then(response => (this.categories = response.data))
		}
	  }
	}
	Vue.createApp(UserScreen).mount('#User_Screen')
</script>

</body>
</html>
