<div id="category-list">
    <template v-for="category in categories">
    <table width="100%" border="0" cellspacing="0" cellpadding="10">
      <tr>
        <td><template v-if="category.LOGO"><img v-bind:src="'/store/img/' + category.LOGO"></template></td>
        <td width="100%">
          <table width="100%"  border="0" cellspacing="0" cellpadding="5">
            <tr>
              <td colspan="2" class="categoryName">{{ category.NAME }}</td>
            </tr>
            <tr>
              <td class="subcategoryName">
              <template v-for="(product, index) in category.ProductList">
                <template v-if="index != 0"> | </template>
                <a href="/" v-bind:title="product.DESCN" @click.prevent="lealone.route('store', 'item-list', [product.PRODUCTID], 'getAllProductItems')">
                  {{ product.NAME }}
                </a>
              </template>
              </td>
              <td align="right">
                <input type="button" value="添加产品" @click.prevent="lealone.route('store', 'add-product', {categoryid:category.CATID})"/>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
    </template>
</div>
