<!doctype html>
<html>
<head>
  <title>Petstore Sample</title>
  <link rel="stylesheet" href="/common/css/petstore-common.css">
  <link rel="stylesheet" href="/home/css/petstore-homepage.css">
  <link rel="stylesheet" href="/store/css/petstore-store.css">
</head>

<body>
<table width="100%"  border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><div th:replace="/fragment/home/top.html :: top"></div></td>
  </tr>
  <tr>
	<td align="center">
	  <table width="80%" border="0" cellspacing="0" cellpadding="0" class="box">
 	    <tr>
	      <td><div th:replace="/fragment/store/edit/add_product.html :: addProduct"></div></td>
		</tr>
	  </table>
	</td>
  </tr>
  <tr>
    <td><div th:replace="/fragment/home/footer.html :: footer"></td>
  </tr>
</table>

	<script src="/common/js/vue-3.0.0.js"></script>
	<script src="/common/js/axios-0.21.1.js"></script>
    <script src="/common/js/petstore-config.js"></script>

    <script>
	const CategoryList = {
	  data() {
		return {
		  categories: []
		}
	  },
	  mounted() {
		axios
		  .get(Public.StoreService + '/get_all_categories')
		  .then(response => (this.categories = response.data))
	  }
	}
	Vue.createApp(CategoryList).mount('#category-list')
	</script>
</body>
</html>
