<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
</head>
<body>

<div th:fragment="itemList">
<table width="100%" border="0" cellspacing="0" cellpadding="10">
  <tr>
    <td rowspan="2" width="1%"><template v-if="category.LOGO"><img v-bind:src="'/store/img/' + category.LOGO"></template></td>
    <td class="categoryName">{{ category.NAME }}</td>
  </tr>
  <tr>
    <td colspan="2" class="subcategoryName">{{ product.NAME }} - {{ product.DESCN }}</td>
  </tr>
  <tr>
    <td colspan="2">
        <table width="100%" border="0" cellspacing="1" cellpadding="10">
            <tr bgcolor="#DDDDDD">
                <th>ID</th>
                <th>单价</th>
                <th>描述</th>
                <th>库存数量</th>
                <th>&nbsp;</th>
            </tr>
        <template v-for="item in items">
            <tr onmouseenter="this.style.backgroundColor='powderblue'" onmouseleave="this.style.backgroundColor=''">
                <td>{{ item.ITEMID }}</td>
                <td>{{ item.LISTPRICE }}</td>
                <td>{{ item.ATTR }}1</td>
                <td>{{ item.quantity }}</td>
                <td align="right">[<a href="#" onclick="alert('未实现')">修改</a>]</td>
            </tr>
        </template>
        </table>
    </td>
  </tr>
</table>
</div>

</body>
</html>
