<!DOCTYPE html>
<html>
<head>
  <title>Petstore Sample</title>
  <script src="/common/js/plugins/vue-3.0.0.js"></script>
  <script src="/common/js/plugins/axios-0.21.1.js"></script>
  <script src="/common/js/plugins/lealone-5.0.0.js"></script>
  <script src="/common/js/petstore.js"></script>
  <link rel="stylesheet" href="/common/css/petstore-common.css">
  <link rel="stylesheet" href="/home/css/petstore-homepage.css">
  <link rel="stylesheet" href="/store/css/petstore-store.css" media="screen">
</head>

<body>
<div id="storeApp">
<table width="100%"  border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><div th:replace="/fragment/home/top.html :: top"></div></td>
  </tr>
  <tr>
    <td align="center">
      <table width="80%" border="0" cellspacing="0" cellpadding="0" class="box">
         <tr>
          <td>
            <keep-alive>
              <component :is="currentComponent"/>
            </keep-alive>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td><div th:replace="/fragment/home/footer.html :: footer"></div></td>
  </tr>
</table>
</div>

<template id="category-list" th:insert="/fragment/store/category-list.html :: category-list"/>
<template id="item-list" th:insert="/fragment/store/item-list.html :: item-list"/>
<template id="view-cart" th:insert="/fragment/store/view-cart.html :: view-cart"/>
<template id="edit-category-list" th:insert="/fragment/store/edit/category-list.html :: edit-category-list"/>
<template id="edit-item-list" th:insert="/fragment/store/edit/item-list.html :: edit-item-list"/>
<template id="add-product" th:insert="/fragment/store/edit/add-product.html :: add-product"/>
<template id="petstore-nav" th:insert="/fragment/home/nav.html :: nav"/>

<script src="/store/js/category-list.js"></script>
<script src="/store/js/item-list.js"></script>
<script src="/store/js/add-product.js"></script>
<script src="/store/js/view-cart.js"></script>
<script src="/user/js/login.js"></script>
<script>
    const app = Lealone.createVueApp("store", "edit-category-list"); //打开store子应用时，默认显示edit-category-list页

    Lealone.component(app, 'category-list', storeCategoryList);
    Lealone.component(app, 'item-list', storeItemlist, storeViewCart);
    Lealone.component(app, 'view-cart', storeViewCart);
    Lealone.component(app, 'edit-category-list', storeCategoryList);
    Lealone.component(app, 'edit-item-list', storeItemlist);
    Lealone.component(app, 'add-product', storeAddProduct);
    Lealone.component(app, 'petstore-nav', userLogin);

    app.mount('#storeApp')
</script>

</body>
</html>
