<!doctype html>
<html>
<head>
  <title>Petstore Sample</title>
  <script src="/common/js/plugins/vue-3.0.0.js"></script>
  <script src="/common/js/plugins/axios-0.21.1.js"></script>
  <script src="/common/js/petstore_config.js"></script>
  <script src="/common/js/screen_switch.js"></script>
  <script src="/store/js/category_list.js"></script>
  <script src="/store/js/item_list.js"></script>
  <script src="/store/js/add_product.js"></script>
  <script src="/store/js/view_cart.js"></script>
  <script src="/user/js/account.js"></script>
  <script src="/user/js/register.js"></script>
  <script src="/user/js/login.js"></script>
  <link rel="stylesheet" href="/common/css/petstore-common.css">
  <link rel="stylesheet" href="/home/css/petstore-homepage.css">
  <link rel="stylesheet" href="/store/css/petstore-store.css">
</head>

<body>
<div id="Store_Screen">
<table width="100%"  border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><div th:replace="/fragment/home/top.html :: top"></div></td>
  </tr>
  <tr>
	<td align="center">
	  <table width="80%" border="0" cellspacing="0" cellpadding="0" class="box">
 	    <tr>
	      <td>
	        <div v-show="display('category_list')">
	          <div th:replace="/fragment/store/category_list.html :: categoryList"></div>
	        </div>
	        <div style="display: none" v-show="display('item_list')">
	          <div th:replace="/fragment/store/item_list.html :: itemList"></div>
	        </div>
	        <div style="display: none" v-show="display('view_cart')">
	          <div th:replace="/fragment/store/view_cart.html :: viewCart"></div>
	        </div>
	        <div style="display: none" v-show="display('add_product')">
	          <div th:replace="/fragment/store/edit/add_product.html :: addProduct"></div>
	        </div>
	        <div style="display: none" v-show="display('edit_category_list')">
	          <div th:replace="/fragment/store/edit/category_list.html :: categoryList"></div>
	        </div>
	        <div style="display: none" v-show="display('edit_item_list')">
	          <div th:replace="/fragment/store/edit/item_list.html :: itemList"></div>
	        </div>
	      </td>
		</tr>
	  </table>
	</td>
  </tr>
  <tr>
    <td><div th:replace="/fragment/home/footer.html :: footer"></div></td>
  </tr>
</table>
</div>

<script>
	const StoreScreen = {
	  mixins: [screenSwitch, userLogin, categoryList, account, storeLtemlist, storeAddProduct, storeViewCart],
	  data() {
		return {
		  currentUser: localStorage.currentUser,
		  screenType: "store",
		  pageType: sessionStorage.pageType ? sessionStorage.pageType : "category_list",
		  categoryId: ""
		}
	  },
	  methods: {
	  }
	}
	Vue.createApp(StoreScreen).mount('#Store_Screen')
</script>

</body>
</html>
