<!DOCTYPE html>
<html>
<head>
  <title>PetStore Sample</title>
  <script src="/common/js/plugins/vue-3.0.0.js"></script>
  <script src="/common/js/plugins/axios-0.21.1.js"></script>
  <script src="/common/js/plugins/sockjs.min-1.1.2.js"></script>
  <script src="/common/js/plugins/lealone-5.0.0.js"></script>
  <script src="/common/js/petstore.js"></script>
  <link rel="stylesheet" href="/common/css/petstore-common.css">
  <link rel="stylesheet" href="/home/css/petstore-homepage.css">
  <link rel="stylesheet" href="/store/css/petstore-store.css" media="screen">
</head>

<body>
<div id="storeApp">
<table width="100%"  border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><div th:replace="/home/fragment/layout/top.html :: top"></div></td>
  </tr>
  <tr>
    <td align="center">
      <table width="80%" border="0" cellspacing="0" cellpadding="0" class="box">
         <tr>
          <td>
            <keep-alive>
              <component :is="currentComponent"/>
            </keep-alive>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td><div th:replace="/home/fragment/layout/footer.html :: footer"></div></td>
  </tr>
</table>
</div>

<template id="category-list" th:insert="/store/fragment/category-list.html :: category-list"/>
<template id="item-list" th:insert="/store/fragment/item-list.html :: item-list"/>
<template id="add-product" th:insert="/store/fragment/add-product.html :: add-product"/>
<template id="petstore-nav" th:insert="/home/fragment/layout/nav.html :: nav"/>

<script src="/store/js/category-list.js"></script>
<script src="/store/js/item-list.js"></script>
<script src="/store/js/add-product.js"></script>
<script>
    const app = Lealone.createVueApp("store", "category-list"); //打开store子应用时，默认显示category-list页

    Lealone.component(app, 'category-list', 'get_all_categories', storeCategoryList);
    Lealone.component(app, 'item-list', 'get_all_product_items', storeItemlist);
    Lealone.component(app, 'add-product', 'add_product', storeAddProduct);
    Lealone.component(app, 'petstore-nav');

    app.mount('#storeApp')
</script>

</body>
</html>
