<!doctype html>
<html>
<head>
  <title>Petstore Sample</title>
  <link rel="stylesheet" href="/common/css/petstore-common.css">
  <link rel="stylesheet" href="/home/css/petstore-homepage.css">
  <link rel="stylesheet" href="/store/css/petstore-store.css">
</head>

<body>
<table width="100%"  border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><div th:replace="/fragment/home/top.html :: top"></div></td>
  </tr>
  <tr>
	<td align="center">
	  <table width="80%" border="0" cellspacing="0" cellpadding="0" class="box">
 	    <tr>
	      <td><div th:replace="/fragment/store/category_list.html :: categoryList"></div></td>
		</tr>
	  </table>
	</td>
  </tr>
  <tr>
    <td><div th:replace="/fragment/home/footer.html :: footer"></td>
  </tr>
</table>

<script src="/common/js/vue-3.0.0.js"></script>
<script src="/common/js/axios-0.21.1.js"></script>
<script src="/common/js/petstore-config.js"></script>
<script src="/store/js/category_list.js"></script> 

</body>
</html>
