<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
</head>
<body>

<div th:fragment="category-list">
    <template v-for="category in categories">
    <table width="100%" border="0" cellspacing="0" cellpadding="10">
      <tr>
        <td><template v-if="category.LOGO"><img v-bind:src="'/store/img/' + category.LOGO"></template></td>
        <td width="100%">
          <div class="categoryName">{{ category.NAME }}</div>
          <div class="subcategoryName">
          <template v-for="(product, index) in category.ProductList">
            <template v-if="index != 0"> | </template>
            <a href="/" v-bind:title="product.DESCN" @click.prevent="lealone.route('store', 'item-list', {productId:product.PRODUCTID})">
              {{ product.NAME }}
            </a>
          </template>
          </div>
        </td>
      </tr>
    </table>
    </template>
</div>

</body>
</html>
