<!DOCTYPE html>
<html>
<head>
  <title>Welcome to PetStore!</title>
  <script src="/common/js/plugins/vue-3.0.0.js"></script>
  <script src="/common/js/plugins/axios-0.21.1.js"></script>
  <script src="/common/js/plugins/sockjs.min-1.1.2.js"></script>
  <script src="/common/js/plugins/lealone-5.0.0.js"></script>
  <script src="/common/js/petstore.js"></script>
  <link rel="stylesheet" href="/common/css/petstore-common.css">
  <link rel="stylesheet" href="/store/css/petstore-store.css">
  <link rel="stylesheet" href="/home/css/petstore-homepage.css" media="screen">
</head>

<body>
<div id="homeApp">
<table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <td height="258" valign="top">
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
      <tr>
        <td><a href="/"><img src="/home/img/logo_petstore_big.png"/></a></td>
      </tr>
      <tr>
        <td valign="top">&nbsp;</td>
      </tr>
      <tr>
        <td valign="top"> 
          <login/>
        </td>
      </tr>
    </table>
    </td>
    <td><img src="/home/img/dot_transparent.png" width="30"/></td>
    <td width="100%" valign="top">
      <div th:replace="/home/fragment/layout/top-no-logo.html :: top-no-logo"></div>
      <table width="100%"  border="0" cellspacing="0" cellpadding="0">
        <tr valign="bottom">
          <td width="10" align="left"><div th:replace="/home/fragment/layout/tabs.html :: tabs"></div></td>
        </tr>
        <tr>
          <td>
            <table border="0" cellpadding="0" cellspacing="10" width="100%" class="box">
              <tr align="left">
                <td width="100%">
                  <keep-alive>
                    <component :is="currentComponent"/>
                  </keep-alive>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td colspan="3" valign="top">
      <div th:replace="/home/fragment/layout/footer.html :: footer"></div>
    </td>
  </tr>
</table>
</div>

<template id="category-list" th:insert="/home/fragment/shopping/category-list.html :: category-list"/>
<template id="item-list" th:insert="/home/fragment/shopping/item-list.html :: item-list"/>
<template id="view-cart" th:insert="//home/fragment/shopping/view-cart.html :: view-cart"/>
<template id="petstore-nav" th:insert="/home/fragment/layout/nav.html :: nav"/>
<template id="login" th:insert="/user/fragment/login.html :: login"/>

<script src="/store/js/category-list.js"></script>
<script src="/store/js/item-list.js"></script>
<script src="/home/js/view-cart.js"></script>
<script>
    const app = Lealone.createVueApp("home", "category-list"); 

    Lealone.component(app, 'login', 'login', UserService);
    Lealone.component(app, 'category-list', 'get_all_categories', storeCategoryList);
    Lealone.component(app, 'item-list', 'get_all_categories', storeViewCart, storeItemlist);
    Lealone.component(app, 'view-cart', 'get_all_categories', storeViewCart);
    Lealone.component(app, 'petstore-nav');

    mount(app, '#homeApp');
</script>

</body>
</html>
