<!doctype html>
<html>
<head>
  <title>Welcome to Petstore!</title>
  <script src="/common/js/plugins/vue-3.0.0.js"></script>
  <script src="/common/js/plugins/axios-0.21.1.js"></script>
  <script src="/common/js/petstore_config.js"></script>
  <script src="/store/js/category_list.js"></script>
  <script src="/store/js/item_list.js"></script>
  <script src="/store/js/view_cart.js"></script>
  <script src="/user/js/login.js"></script>
  <script src="/user/js/account.js"></script>
  <script src="/user/js/register.js"></script>
  <link rel="stylesheet" href="/common/css/petstore-common.css">
  <link rel="stylesheet" href="/store/css/petstore-store.css">
  <link rel="stylesheet" href="/home/css/petstore-homepage.css" media="screen">
</head>

<body>
<div id="Home_Screen">
<table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <td height="258" valign="top">
	<table border="0" cellpadding="0" cellspacing="0" width="100%">
      <tr>
        <td><a href="/"><img src="/home/img/logo_petstore_big.png"/></a></td>
      </tr>
	  <tr>
        <td valign="top">&nbsp;</td>
      </tr>
      <tr>
        <td valign="top"> 
		  <login :router="router"/>
        </td>
      </tr>
    </table>
	</td>
    <td><img src="/home/img/dot_transparent.png" width="30"/></td>
    <td width="100%" valign="top">
	  <div th:replace="/fragment/home/top_no_logo.html :: topNoLogo"></div>
      <table width="100%"  border="0" cellspacing="0" cellpadding="0">
        <tr valign="bottom">
          <td width="10" align="left"><div th:replace="/fragment/home/tabs.html :: tabs"></div></td>
        </tr>
        <tr>
          <td>
		    <table border="0" cellpadding="0" cellspacing="10" width="100%" class="box">
              <tr align="left">
                <td width="100%">
				  <category_list :router="router"/>
				</td>
              </tr>
            </table>
		  </td>
        </tr>
      </table>
	</td>
  </tr>
  <tr>
    <td colspan="3" valign="top">
	  <div th:replace="/fragment/home/footer.html :: footer"></div>
    </td>
  </tr>
</table>
</div>

<template id="login" th:insert="/fragment/user/login.html :: login"/>
<template id="category_list" th:insert="/fragment/store/category_list.html :: categoryList"/>
<template id="petstore_nav" th:insert="/fragment/home/nav.html :: nav"/>

<script>
	router.screen = "home";
	router.page = "login";
	const app = Vue.createApp({ data() { return { router: router } } }); 

	injectComponent(app, 'login', userLogin);
    injectComponent(app, 'category_list', storeCategoryList);
	injectComponent(app, 'petstore_nav', userLogin);

	app.mount('#Home_Screen')
</script>

</body>
</html>
